<div fxLayout="column" style="padding: 32px">
  <h1 class="mat-headline">References</h1>
  <ul>
    <li>Mitchell, J. S. B. (2000). Chapter 15 – Geometric Shortest Paths and Network Optimization. In Handbook of Computational Geometry (pp. 633–701). http://doi.org/10.1016/B978-044482537-7/50016-4</li>
    <li>Guibas, L., Hershberger, J., Leven, D., Sharir, M., & Tarjan, R. E. (1987). Linear-time algorithms for visibility and shortest path problems inside triangulated simple polygons. Algorithmica, 2(1–4), 209–233. http://doi.org/10.1007/BF01840360</li>
    <li>Chazelle, B. (1982). A theorem on polygon cutting with applications. In 23rd Annual Symposium on Foundations of Computer Science (sfcs 1982) (pp. 339–349). IEEE. http://doi.org/10.1109/SFCS.1982.58</li>
    <li>Lee, D. T., & Preparata, F. P. (1984). Euclidean shortest paths in the presence of rectilinear barriers. Networks, 14(3), 393–410. http://doi.org/10.1002/net.3230140304</li>
    <li>Mononen, M (2010). Digesting Duck: Simple Stupid Funnel Algorithm. Retrieved January 9, 2018, from https://digestingduck.blogspot.co.uk/2010/03/simple-stupid-funnel-algorithm.html</li>
    <li>Ahting, J (2014). pnltri.js. Retrieved January 9, 2018, from https://github.com/jahting/pnltri.js</li>
  </ul>
</div>
