<div fxFill>
  <div style="padding: 32px" fxFlex fxLayout="column">
    <h1 class="mat-headline">Shortest Path in a Polygon</h1>
    <span class="mat-caption">Click anywhere on the white space to begin</span>
    <geo-viz fxFlex></geo-viz>
    <div fxFlexOffset="10px" fxLayoutGap="10px">
      <button mat-raised-button (click)="triangulate()">COMPUTE</button>
      <button mat-raised-button (click)="undo()">UNDO</button>
      <button mat-raised-button (click)="clear()">CLEAR</button>
    </div>
    <div fxFlexOffset="10px" fxLayoutGap="16px">
      <mat-checkbox id="tri" (change)="updateCheck($event)" [checked]="showTriangulation | async">
        Show triangulation
      </mat-checkbox>
      <mat-checkbox id="dual" (change)="updateCheck($event)" [checked]="showDual | async">
        Show dual
      </mat-checkbox>
      <mat-checkbox id="sub" (change)="updateCheck($event)" [checked]="showSubPolygon | async">
        Show subpolygon
      </mat-checkbox>
    </div>
  </div>
</div>
