<div style="padding: 32px" fxFlex fxLayout="column">
  <h1 class="mat-headline">Shortest Path in a Polygon</h1>
  <svg fxFlex class="viz-port mat-elevation-z8" #viz>
    <circle [attr.cx]="cursorx" [attr.cy]="cursory" r="10" *ngIf="mouseactive && !polydone"/>
    <circle [attr.cx]="cursorx" [attr.cy]="cursory" r="10" *ngIf="pointA || pointB" [attr.fill]="pointA ? 'red' : 'green'"/>
    <circle *ngIf="pA" [attr.cx]="pA.x" [attr.cy]="pA.y" r="10" fill="red"/>
    <circle *ngIf="pB" [attr.cx]="pB.x" [attr.cy]="pB.y" r="10" fill="green"/>
    <circle *ngFor="let dot of dots" [attr.cx]="dot.x" [attr.cy]="dot.y" r="10"/>
    <circle *ngFor="let center of centers" [attr.cx]="center.x" [attr.cy]="center.y" r="5"/>
    <polyline fill="none" stroke="black" *ngIf="lastdot && !polydone"
              [attr.points]="lastdot.x + ',' + lastdot.y + ' ' + cursorx + ',' + cursory"/>
    <polyline fill="none" stroke="black"
              [attr.points]="formatDots()"/>
    <polyline fill="none" stroke="black"
              *ngFor="let tri of triangulation"
              [attr.points]="getTri(tri)"/>
  </svg>
  <div fxFlexOffset="10px" fxLayoutGap="10px">
    <button mat-raised-button (click)="triangulate()">COMPUTE</button>
    <button mat-raised-button (click)="clear()">CLEAR</button>
  </div>
  <div fxFlexOffset="10px">
    <mat-checkbox [(ngModel)]="showTriangulation">Show triangulation</mat-checkbox>
  </div>
</div>
